* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "allura";
  src: url("../fonts/Allura-Regular.ttf"); }
@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Medium.ttf"); }
body {
  font-family: "roboto", sans-serif;
  background: #1f1a14;
  max-width: 1500px; }

a {
  text-decoration: none;
  color: #fff; }

ul li {
  list-style: none; }

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 85vh;
  z-index: 10;
  position: relative; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 85%;
    margin: 0 auto; }
    header nav h2 {
      color: #fff;
      font-family: "allura", sans-serif;
      font-size: 2rem; }
    header nav ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    header nav .left-nav {
      width: 85%; }
      header nav .left-nav li {
        text-transform: uppercase;
        font-size: 0.7rem; }
        header nav .left-nav li a:hover {
          color: #d7a962; }
    header nav .right-nav {
      width: 15%; }
      header nav .right-nav a i {
        transition: 0.5s ease; }
        header nav .right-nav a i:hover {
          transform: scale(1.5); }
  header .header-title {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center; }
    header .header-title h1 {
      font-family: "allura", sans-serif;
      color: #d7a962;
      font-weight: 100;
      font-size: 3rem;
      line-height: 0.5rem; }
    header .header-title h2 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 14px;
      font-family: "poppins", sans-serif;
      font-size: 3rem; }
    header .header-title img {
      width: 2rem;
      padding: 40px 0; }
    header .header-title p {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 0.8rem; }
  @media screen and (max-width: 600px) {
    header nav .left-nav {
      display: none; }
    header nav .right-nav {
      width: 50%; }
      header nav .right-nav ul {
        -webkit-justify-content: space-around; } }

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #ededed; }
  @media screen and (max-width: 600px) {
    .section1 {
      grid-template-columns: 1fr; } }
  .section1 .left-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed #d7a962;
    margin: 20px; }
    @media screen and (max-width: 600px) {
      .section1 .left-content .left-content {
        justify-content: space-between;
        margin: 20px 0; } }
    .section1 .left-content .left-part-title h3 {
      font-family: "allura", sans-serif;
      font-size: 1.5rem;
      color: #d7a962;
      font-weight: 100;
      font-size: 3rem;
      font-weight: 100; }
    .section1 .left-content .left-part-title h4 {
      text-transform: uppercase;
      font-family: "poppins", sans-serif;
      line-height: 0.30rem;
      font-size: 2rem;
      padding-bottom: 10px; }
    @media screen and (max-width: 600px) {
      .section1 .left-content .left-part-title h3 {
        font-size: 2rem; }
      .section1 .left-content .left-part-title h4 {
        font-size: 1.2rem;
        padding-bottom: 40px; } }
    .section1 .left-content .left-part-text {
      margin: 0 auto;
      padding: 10px;
      color: #000; }
      @media screen and (max-width: 600px) {
        .section1 .left-content .left-part-text {
          padding: 40px;
          text-align: justify; } }
    .section1 .left-content .left-part-foo img {
      clip-path: circle(50% at center); }
    .section1 .left-content .left-part-foo h4 {
      font-size: 1.5rem; }
    .section1 .left-content .left-part-foo p {
      text-transform: uppercase;
      margin-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .section1 .left-content .left-part-foo img {
        height: 80px;
        width: 80px;
        padding-bottom: 10px; }
      .section1 .left-content .left-part-foo h4 {
        font-size: 1rem; }
      .section1 .left-content .left-part-foo p {
        font-size: 0.7rem; } }
  .section1 .right-content img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 600px) {
    .section1 .right-content {
      display: none; } }

.section2 .s2-header {
  height: 50vh; }
  .section2 .s2-header .s2-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px; }
    .section2 .s2-header .s2-title h3 {
      font-family: "allura", sans-serif;
      font-size: 1.5rem;
      color: #d7a962;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 2.5rem; }
  .section2 .s2-header .s2-links ul {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    margin: 0 auto; }
    .section2 .s2-header .s2-links ul a {
      border-bottom: 1px solid #fff;
      padding: 10px 0; }
  @media screen and (max-width: 600px) {
    .section2 .s2-header .s2-links ul {
      width: 100%; } }
.section2 .section2-main {
  background: url(../img/bg-menu-01.jpg) center/cover;
  height: 80vh;
  position: relative; }
  @media screen and (max-width: 600px) {
    .section2 .section2-main {
      height: 120vh; } }
  .section2 .section2-main .s2-dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50% 50%);
    width: 53%;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 78vh;
    padding: 20px; }
    @media screen and (max-width: 600px) {
      .section2 .section2-main .s2-dishes {
        display: block;
        width: 90%;
        height: 100vh;
        bottom: 28%; } }
    .section2 .section2-main .s2-dishes .dish-item {
      display: grid;
      grid-template-columns: 30% 60% 10%;
      width: 90%;
      height: 85px; }
      .section2 .section2-main .s2-dishes .dish-item img {
        -webkit-border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .section2 .section2-main .s2-dishes .dish-item h4 {
        text-transform: uppercase;
        padding-top: 20px; }
      .section2 .section2-main .s2-dishes .dish-item p {
        text-transform: capitalize; }
      .section2 .section2-main .s2-dishes .dish-item h4, .section2 .section2-main .s2-dishes .dish-item p {
        font-size: 0.8rem; }
      .section2 .section2-main .s2-dishes .dish-item .dish-price {
        display: flex;
        justify-content: center;
        align-items: center; }
      @media screen and (max-width: 600px) {
        .section2 .section2-main .s2-dishes .dish-item img {
          width: 60px;
          height: 60px; }
        .section2 .section2-main .s2-dishes .dish-item h4 {
          font-size: 0.7rem; } }

.section3 {
  background: #1f1a14; }
  .section3 .s3-content {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    padding: 100px 0; }
    .section3 .s3-content .s3-left-content {
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: column;
      background: #000;
      color: #fff;
      height: 600px; }
      .section3 .s3-content .s3-left-content .s3-left-parts {
        padding: 20px 30px;
        border: 1px dashed #ffffff; }
        .section3 .s3-content .s3-left-content .s3-left-parts .s3-left-title h3 {
          font-family: "allura", sans-serif;
          font-size: 1.5rem;
          color: #d7a962;
          font-weight: 100;
          text-transform: capitalize;
          font-size: 2.5rem;
          letter-spacing: 4px;
          height: 2rem; }
        .section3 .s3-content .s3-left-content .s3-left-parts .s3-left-title h4 {
          text-transform: uppercase;
          font-size: 2rem;
          font-family: "poppins", sans-serif;
          letter-spacing: 2px;
          margin-bottom: 30px; }
        .section3 .s3-content .s3-left-content .s3-left-parts .s3-left-openDays {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          -webkit-align-items: center;
          flex-direction: column;
          height: 350px; }
          .section3 .s3-content .s3-left-content .s3-left-parts .s3-left-openDays h3 {
            text-transform: uppercase;
            font-weight: 100;
            color: #d7a962;
            margin-bottom: 20px;
            letter-spacing: 2px; }
          .section3 .s3-content .s3-left-content .s3-left-parts .s3-left-openDays div:last-child {
            color: #d7a962;
            font-size: 1.5rem;
            padding-top: 30px; }
    .section3 .s3-content .s3-right-content {
      background: #ffffff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: column; }
      .section3 .s3-content .s3-right-content .s3-right-title h3 {
        font-family: "allura", sans-serif;
        font-size: 1.5rem;
        color: #d7a962;
        font-weight: 100;
        text-transform: capitalize;
        font-size: 2.5rem;
        letter-spacing: 4px;
        height: 2rem; }
      .section3 .s3-content .s3-right-content .s3-right-title h4 {
        text-transform: uppercase;
        font-size: 2rem;
        font-family: "poppins", sans-serif;
        letter-spacing: 2px;
        margin-bottom: 30px; }
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-top,
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-foo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-align-items: center; }
        .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-top div,
        .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-foo div {
          width: 200px; }
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-top select {
        width: 150px;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid #b9b8b8; }
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-top input[type='date'],
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-top input[type='time'] {
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid #b9b8b8;
        width: 150px; }
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-foo input[type='text'],
      .section3 .s3-content .s3-right-content .s3-right-booking-details .s3-booking-details-foo input[type='email'] {
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid #b9b8b8;
        margin: 40px 20px;
        width: 150px; }
      .section3 .s3-content .s3-right-content button {
        padding: 10px 40px;
        border-radius: 40px;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 4px;
        font-family: "poppins", sans-serif;
        background: #000;
        color: #fff;
        cursor: pointer; }

.section4 .s4-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px; }
  .section4 .s4-header h3 {
    font-family: "allura", sans-serif;
    font-size: 1.5rem;
    color: #d7a962;
    font-weight: 100;
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1rem; }
  .section4 .s4-header h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    margin-bottom: 20px;
    color: #fff; }
.section4 .s4-events-content {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0 auto;
  width: 70%; }
  .section4 .s4-events-content h4 {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 50px; }
  .section4 .s4-events-content ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0; }
    .section4 .s4-events-content ul li {
      opacity: 0.40;
      text-transform: capitalize;
      font-size: 0.9rem;
      cursor: pointer; }
    .section4 .s4-events-content ul i {
      padding-right: 5px; }
  .section4 .s4-events-content .s4-event-left-part .s4-event-top-left,
  .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left {
    display: flex;
    align-items: center;
    padding-right: 20px; }
    .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event_01, .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event_02,
    .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event_01,
    .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event_02 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event_01 p, .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event_02 p,
      .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event_01 p,
      .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event_02 p {
        background: #1f1a14;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        text-align: center;
        color: #fff; }
    .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event-details,
    .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event-details {
      background: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      width: 100%; }
      .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event-details p,
      .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event-details p {
        text-transform: uppercase;
        font-size: 0.8rem;
        padding-left: 35px;
        font-weight: 600;
        letter-spacing: 2px; }
  .section4 .s4-events-content .s4-event-left-part .s4-event-top-left {
    padding-bottom: 20px; }
    .section4 .s4-events-content .s4-event-left-part .s4-event-top-left .event_01 {
      background: url(../img/event-01.jpg) center/cover;
      height: 200px;
      width: 350px; }
  .section4 .s4-events-content .s4-event-left-part .s4-event-footer-left .event_02 {
    background: url(../img/event-02.jpg) center/cover;
    height: 200px;
    width: 350px; }
  .section4 .s4-events-content .s4-right-part-container {
    background: url(../img/event-03.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section4 .s4-events-content .s4-right-part-container .s4-event-right-part {
      background: #fff;
      color: #000;
      width: 90%;
      height: 90%;
      text-align: center; }
      .section4 .s4-events-content .s4-right-part-container .s4-event-right-part .event_03 {
        position: relative;
        display: flex;
        justify-content: center; }
        .section4 .s4-events-content .s4-right-part-container .s4-event-right-part .event_03 p {
          background: #1f1a14;
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
          text-align: center;
          color: #fff; }
      .section4 .s4-events-content .s4-right-part-container .s4-event-right-part .event-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%; }
        .section4 .s4-events-content .s4-right-part-container .s4-event-right-part .event-details p {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 600;
          letter-spacing: 2px; }

.section5 .s5-container {
  color: #fff;
  text-align: center;
  background: url(../img/gmap.jpg) center/cover;
  margin: 0 auto;
  height: 500px; }
  .section5 .s5-container .s5-img img {
    clip-path: circle(50% at center);
    margin-bottom: 20px; }
  .section5 .s5-container .s5-content {
    background: #ededed;
    width: 70%;
    margin: 350px auto 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 50%;
    transform: translateY(50%); }
    .section5 .s5-container .s5-content .s5_content_details {
      position: relative;
      bottom: 50%;
      transform: translateY(25%); }
    .section5 .s5-container .s5-content p {
      color: #000;
      width: 90%;
      margin: 0 auto;
      line-height: 2rem; }
    .section5 .s5-container .s5-content h4 {
      color: #000;
      font-size: 1.5rem;
      font-weight: 100; }
    .section5 .s5-container .s5-content h5 {
      color: #d7a962;
      font-weight: 100;
      padding-top: 20px;
      font-size: 1rem; }

footer {
  background: url(../img/bg-footer.jpg) center/cover; }
  footer .footer-content {
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    margin: 0 auto; }
    footer .footer-content .footer-left-content {
      padding: 50px 0 50px; }
      footer .footer-content .footer-left-content h3 {
        font-family: "allura", sans-serif;
        font-size: 1.5rem;
        color: #d7a962;
        font-weight: 100;
        text-transform: capitalize;
        letter-spacing: 2px;
        padding-bottom: 20px;
        font-size: 1.8rem; }
      footer .footer-content .footer-left-content p {
        color: #fff;
        line-height: 32px; }
    footer .footer-content .footer-right-content {
      padding-top: 50px; }
      footer .footer-content .footer-right-content .newsletter {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        margin-bottom: 60px; }
        footer .footer-content .footer-right-content .newsletter input[type="email"] {
          width: 250px;
          margin-top: 20px;
          padding: 7px 10px;
          background: none;
          border: 1px solid #3e3d3d;
          color: grey; }
        footer .footer-content .footer-right-content .newsletter label {
          color: #fff;
          text-transform: uppercase;
          font-weight: 600; }
      footer .footer-content .footer-right-content .social-networks {
        color: #fff;
        padding-left: 20px;
        display: flex; }
        footer .footer-content .footer-right-content .social-networks h4 {
          text-transform: uppercase;
          padding-right: 30px;
          font-weight: 600; }
        footer .footer-content .footer-right-content .social-networks span {
          padding: 0 20px;
          cursor: pointer;
          color: #5f5f5f; }

/*# sourceMappingURL=index.css.map */
