.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 1;

  .left-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border : 1px dashed $gold;
    margin: 20px;

    .left-part-title {

      h3 {
        @include title2;
        font-size: 3rem;
        font-weight: 100;
      }

      h4 {
        text-transform: uppercase;
        font-family: $font-poppins;
        line-height: 0.25rem;
        font-size: 2rem;
      }

      img {
        padding: 50px 0;
      }
    }

    .left-part-text {
      margin: 0 auto;
      padding: 10px;
    }

    .left-part-footer {
      img {
        border-radius: 50%;
      }
      h4 {
        font-size: 1.5rem;
        padding: 7px 0;
      }

      p {
        text-transform: uppercase;
      }
    }
  }

  .right-content {
    img {
      width: 100%;
    }
  }
}