.section4 {
  margin-bottom: 50px;

  .s4-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40px;

    h3 {
      font-family: $font-allura;
      font-size: 2rem;
      text-transform: capitalize;
      letter-spacing: 2px;
      color: $gold;
      font-weight: 100;
      line-height: 1rem;
    }

    h4 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: $font-poppins;
      margin-bottom: 20px;
      color: $white1;
    }
  }


  .s4-events-content {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 auto;
    width: 70%;

    h4 {
      font-size: 1.2rem;
      font-weight: 100;
      letter-spacing: 2px;
      padding-left: 50px;

    }

    ul {
      display: flex;
      justify-content: space-around;
      padding: 20px 0;

      li {
        opacity: 0.40;
        text-transform: capitalize;
        font-size: 0.9rem;
        cursor: pointer;
      }

      i {
        padding-right: 5px;
      }
    }

    .s4-event-left-part {

      .s4-event-top-left,
      .s4-event-footer-left {
        display: flex;
        align-items: center;
        padding-right: 20px;

        .event_01, .event_02 {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          p {
            background: #1f1a14;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            text-align: center;
            color: $white1;
          }
        }

        .event-details {
          background: #fff;
          color: #000;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 200px;
          width: 100%;


          p {
            text-transform: uppercase;
            font-size: 0.8rem;
            padding-left: 35px;
            font-weight: 600;
            letter-spacing: 2px;
          }
        }
      }

      .s4-event-top-left {
        padding-bottom: 20px;

        .event_01 {
          background: url(../img/event-01.jpg) center/cover;
          height: 200px;
          width: 350px;
        }
      }

      .s4-event-footer-left {
        .event_02 {
          background: url(../img/event-02.jpg) center/cover;
          height: 200px;
          width: 350px;
        }
      }

    }

    .s4-right-part-container {
      background: url(../img/event-03.jpg) center/cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .s4-event-right-part {
        background: #fff;
        color: #000;
        width: 90%;
        height: 90%;
        text-align: center;

        .event_03 {
          position: relative;
          display: flex;
          justify-content: center;

          p {
            background: #1f1a14;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            text-align: center;
            color: $white1;
          }
        }

        .event-details {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 70%;

          p {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 600;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}